:root{
  --bright-pink:#ca0eba;
  --bright-yellow:#f7f309e3;
}
body {
  background:var(--bright-pink);
  user-select: none;
}

#container {
  position: absolute;
}

#game-container {
  width: 640px;
  height: 480px;
  background: url(/Images/splash-screen.png);
}

.game-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

/* Game Start Menu Screen */

#game-start-screen {
  padding-top: 250px;
  text-align: center;
}

#game-start-screen img {
  margin: 10px;
  cursor: pointer;
}

.config-buttons{
  height: 4rem;
}

.playing-buttons{
  height:2rem;
}

/* Level Selection Screen */
#level-select-screen{
  padding-top: 150px;
  padding-left: 50px;
}

#level-select-screen  input {
  margin:20px;
  cursor: pointer;

  background:var(--bright-yellow);
  color:var(--bright-pink);
  font-size: 20px;

  width: 64px;
  height: 64px;

  border: 0;
  outline: 0;
}

#loading-screen{
  background: rgba(100, 100, 100, 0.5);
}

#loading-message{
  margin-top: 400px;
  text-align: center;
  height: 48px;
  color: white;
  background: url(/Images/loader.gif) no-repeat center;
  font: 12px Arial;
}

#score-screen {
  height: 60px;
  font: 32px "Comic Sans MS";
  text-shadow: 0 0 2px black;
  color: white;
}

#score-screen img {
  opacity: 0.6;
  top: 5%;
  left: 5%;
  position: relative;
  padding: 8px;
  cursor: pointer;
}

#score {
  position: absolute;
  top: 5%;
  right: 5%;
}